.thumbmail {
  width: 100%;
}

.search-bar {
  display: block;
}

.profile-picture {
  width: 36px;
  border-radius: 20px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 12px;
}

.thumbmail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 6px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 75px;
}

.grid-three-column {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
}

.grid-equal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 12px;
  right: 5px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

.video-time2 {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: -470px;
  right: -560px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
}

.video-time3 {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: -525px;
  right: -622px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
}
